body {
    color:orange;
    background:white;
    margin: 0px;
    font-family: "Oxanium", sans-serif;
    body {
        color: white;
        background: black;
        margin: 0px;
        font-family: "Chakra Petch", sans-serif;
        margin-bottom: 100px;
    }
    
    /* código escondido */

}

header {
    border-bottom:solid 2px rgb(42, 122, 288);
    padding:20px;
    font-size: 35px;
    color:rgb(42, 122, 288);
}

.chamada-texto {
    background: rgb(255, 0, 0, 1);
    margin: 25px;
    display: flex;
    justify-content: center;
}


div{
    margin-right: 5%;
}
h1{
    font-size: 45px;
}

p {
    font-size: 25px;
}
img{
    height: 350px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 25px;
}
.chamada {
    padding-left: 20px;
    padding-right: 20px;
}